.app-container {
  padding: 20px;
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

.header {
  text-align: center;
  color: white;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.remaining-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.player-item {
  padding: 10px;
  margin: 5px;
  cursor: grab;
  border: 1px solid #444;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.player-item.dragging {
  opacity: 0.5;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 70%;
  padding: 20px;
  border: 2px solid #444;
  background-color: #1c1c1e;
  border-radius: 5px;
}

.rank-box {
  width: 150px;
  height: 50px;
  border: 2px dashed #444;
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 5px;
  background-color: #333;
  border-radius: 5px;
}

.rank-box.hover {
  background-color: #444;
}

.dps-number {
  width: 60px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border: 2px solid #444;
  background-color: #1c1c1e;
  border-radius: 5px;
}
.victory-message {
  color: #4CAF50; /* Green color for victory message */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.submit {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit:hover,
.submit:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.submit:active {
  opacity: .5;
}
