/* App.css */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

h1, h2, h3, h4 {
  margin: 10px 0;
  color: #ffffff;
}

header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 20px 0;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.table {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
}

.player-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #282828;
  border-radius: 5px;
}

.player-row span {
  margin-right: 10px;
}

.placeholder {
  color: #555; /* Dark grey for placeholders */
}

.message {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.player-number {
  margin-right: 8px;
}

.placeholder {
  color: grey;
}

.correct-player-placeholder {
  border: 2px solid orange; /* Subtle indicator for correct players' boxes */
  color: grey; /* Keeps the ??? hidden */
}

/* Counters at the top of the game */
.counters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.counters span {
  font-size: 18px;
  font-weight: bold;
  color: white; /* Assuming dark mode */
}

